@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900';

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.header {
    max-width: 1030px;
    margin: 0 auto;
    text-align: left;
    background: url('../img/mobile_img.png') no-repeat;
    background-position: right;
    background-size: 430px 782px;
    padding-bottom: 300px;
}
.header-title {
    display: inline-block;
    max-width: 400px;
    vertical-align: top;
    margin-left: 45px;
    margin-top: 45px;;
}
.logo {
    width: 100px;
    height: 40px;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    margin-top: 35px;
    margin-bottom: 80px;
}
.title {
    font-size: 46px;
    line-height: 45px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.caption {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.main-button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border: 0;
    padding: 20px 0;
    width: 400px;
    border-radius: 42px;
    margin-top: 30px;
    transition: box-shadow .3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
    outline: none;
}
.main-button:hover {
    cursor: pointer;
    transition: box-shadow .3s ease-out;
    box-shadow: rgba(255, 91, 0, 0.2) 0px 2px 2px,
                rgba(255, 91, 0, 0.2) 0px 4px 4px,
                rgba(255, 91, 0, 0.2) 0px 8px 8px,
                rgba(255, 91, 0, 0.2) 0px 16px 16px,
                rgba(255, 91, 0, 0.2) 0px 32px 32px;
}

.app-title {
    padding: 15px 0 30px 0;
    max-width: 600px;
    margin: 0 auto;
}
.app-img {
    width: 100%;
    max-width: 940px;
    margin-bottom: 40px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 45px;
}
.app-list {
    max-width: 940px;
    margin: 0 auto;
}
.app-feature {
    max-width: 340px;
    display: inline-block;
    vertical-align: top;
    margin: 50px 60px;
    padding-top: 100px;
}
.icon_feature_1 {
    background: url('../img/feature_1.png') no-repeat;
    background-size: 100px 100px;
    background-position: center top;
}
.icon_feature_2 {
    background: url('../img/feature_2.png') no-repeat;
    background-size: 100px 100px;
    background-position: center top;
}
.icon_feature_3 {
    background: url('../img/feature_3.png') no-repeat;
    background-size: 100px 100px;
    background-position: center top;
}
.icon_feature_4 {
    background: url('../img/feature_4.png') no-repeat;
    background-size: 100px 100px;
    background-position: center top;
}
.app-feature__title {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    margin: 30px 0;
}
.app-feature__more {
    font-size: 48px;
    font-weight: 300;
    margin-top: 30px;
}

.plan-title,
.contact-title {
    padding: 160px 0 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.plan-item {
    display: inline-block;
    color: #535353;
    background-color: #fff;
    padding: 20px 20px 45px 20px;
    border-radius: 4px;
    width: 300px;
    margin: 8px;
    box-sizing: border-box;
    vertical-align: top;
    transition: box-shadow .3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}
.plan-item:hover {
    transition: box-shadow .3s ease-out;
    box-shadow: rgba(255, 91, 0, 0.1) 0px 2px 2px,
                rgba(255, 91, 0, 0.1) 0px 4px 4px,
                rgba(255, 91, 0, 0.1) 0px 8px 8px,
                rgba(255, 91, 0, 0.1) 0px 16px 16px,
                rgba(255, 91, 0, 0.1) 0px 32px 32px,
                rgba(255, 91, 0, 0.1) 0px 64px 64px;
}
.plan-item__title {
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0;
}
.plan-item__cost {
    font-size: 48px;
    font-weight: 300;
    color: #FF7200;
    margin-top: 25px;
    margin-bottom: 10px;
}
.plan-item__period {
    opacity: 0.5;
}
.plan-item__divider {
    height: 1px;
    background-color: #EEEEEE;
    margin: 25px 0;
}
.plan-item__list {
    text-align: left;
    list-style-type: none;
    padding: 2px 20px;
    margin: 0;
}
.plan-item__list-item {
    margin-bottom: 25px;
}

.contact {
    padding-bottom: 150px;
}
.contact-form {
    padding-top: 45px;
    max-width: 460px;
    margin: 0 auto;
}
.contact-form__input {
    font-family: 'Avenir Next', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #cccccc;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 20px;
    outline: none;
}
.contact-form__input:focus {
    transition: border-bottom .1s ease-out;
    border-bottom: 1px solid #FF7200;
}
.contact .main-button {
    margin-top: 0;
}

.footer {
    background-color: #000;
    padding: 80px 0;
}
.footer-block {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}
.footer-link {
    color: white;
    transition: color .1s ease-out;
}
.footer-link:hover {
    color: #FF7200;
    transition: color .1s ease-out;
}
.footer .logo {
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 0;
    top: -9px;
}
